.header {
    display: flex;
    justify-content: space-between;
    max-width: 736px;
    list-style-type: none;
    color: lightblue;
    margin: 20px auto 0 auto;
    padding: 0;
    cursor: pointer;
}